	<footer><p class="text-center text-muted">Copyleft 2015 <a href = http://www.twitter.com/MarcoR1095>Marco Rojas</a></p></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>