<% include ./partials/head %>
<% include ./partials/header %>
	<div class="container theme-showcase" role="main">
	<div class="alert alert-danger" role="alert">
    <strong>Error:</strong> <%= error %>
    </div>
    </div>
<% include ./partials/footer %>