    <% include ./partials/head %>
    <% include ./partials/header %>
      <div class="container">

          <h2 class="sub-header"><%= seccion %></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr><% cols.forEach(function(col) { %>
                    <th><%= col %></th>
                    <% }); %>
                </tr>
              </thead>
              <tbody>
                  <% results.forEach(function(tupla) { %>
                    <tr> 
                      <% for(var key in tupla){ %>
                      <td><%= tupla[key]; %></td>
                      <% }; %>
                    </tr>
                   <% }); %>
              </tbody>
            </table>
          </div>
        </div>
</body>
<% include ./partials/footer %>